.btn {
  display: block;
  position: relative;
  padding: 6px 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #333;
  color: #333;
  text-decoration: none;
  text-align: center;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  -webkit-transition: 0.1s ease-in;
}
.btn:not(.loading):hover {
  background-color: #333;
  color: #fff;
}
.btn:active {
  opacity: 0.8;
}
.btn.checkbox, .btn.checkbox:hover {
  font-size: 1.3em;
  border: none;
  background-color: transparent;
  color: #555;
}
.btn.checkbox.checked, .btn.checkbox:hover.checked {
  color: #43A047;
}
.btn.icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
}
.btn.icon span {
  font-size: 1.3em;
}
.btn[disabled] {
  cursor: default !important;
}
.btn[disabled], .btn[disabled]:hover {
  background-color: #fff !important;
  color: #ccc !important;
  border-color: #ccc !important;
}
.btn.green {
  color: #43A047;
  border-color: #43A047;
}
.btn.green:not(.loading):hover {
  background-color: #43A047;
  color: #fff;
}
.btn.loading {
  cursor: default !important;
  pointer-events: none !important;
}
.btn.loading .loading-icon {
  opacity: 1;
}
.btn .loading-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}

.loading img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

body {
  color: #333;
}

main {
  display: block;
  position: relative;
  width: 345px;
  padding: 0 8px;
}

header p.usage {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #555;
  border: 2px solid #555;
  border-top-width: 0;
  border-bottom-width: 0;
}

.tip {
  color: #efefef;
  background-color: #555;
  font-size: 12px;
  padding: 4px 8px;
  font-weight: 300;
  text-align: left;
  border-radius: 2px;
  display: block;
  margin: 6px 0;
  line-height: 1em;
  position: relative;
}
.tip::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  left: 4px;
  right: auto;
}
.tip.top {
  top: -4px;
  bottom: auto;
}
.tip.top::after {
  bottom: 100%;
  top: auto;
  border-bottom-color: #555;
}
.tip.bottom {
  top: auto;
  bottom: -4px;
}
.tip.bottom::after {
  top: 100%;
  bottom: auto;
  border-top-color: #555;
}
.tip.right::after {
  right: 4px;
  left: auto;
}
.tip.left::after {
  left: 4px;
  right: auto;
}

#loading-overlay {
  z-index: 10;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading-overlay img {
  width: 48px;
  height: 48px;
  fill: #43A047;
}

#content {
  position: relative;
}

.selected-chat {
  padding: 4px 6px;
  margin: 4px 0;
  border: 1px solid #efefef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  max-width: 100%;
}
.selected-chat .refresh {
  display: block;
  flex: 0 auto;
  padding: 8px;
  height: 100%;
}
.selected-chat .profile-pic {
  width: 49px;
  height: 49px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 12px;
  position: relative;
  flex: 0 auto;
}
.selected-chat .profile-pic img:not(.loading) {
  z-index: 2;
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.selected-chat .profile-pic .loading {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.selected-chat .content {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 2px 0;
  flex: 1;
}
.selected-chat .content .name {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: auto;
}
.selected-chat .content p.contact-count {
  font-size: 12px;
  margin: 0;
  color: #43A047;
}
.selected-chat .content p.contact-count.empty {
  color: #777;
}
.selected-chat .content p.contact-count span {
  font-weight: bold;
}

#contact-list {
  position: relative;
  display: block;
  margin: 6px 0;
}
#contact-list header {
  padding: 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contact-list header .select-all {
  margin: 0;
  flex: 1;
}
#contact-list header .select-all button {
  display: inline-block;
}
#contact-list header .select-all > span {
  font-size: 1.2em;
}
#contact-list header .selected {
  flex: 0 auto;
  font-size: 12px;
}
#contact-list header .selected span {
  font-weight: bold;
}
#contact-list .list {
  position: relative;
  max-height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
}
#contact-list .list .contact {
  max-width: 100%;
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding: 4px 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contact-list .list .contact:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
#contact-list .list .contact img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 12px;
  flex: 0 auto;
}
#contact-list .list .contact .content {
  flex: 1;
}
#contact-list .list .contact .content p {
  margin: 0 0 4px 0;
}
#contact-list .list .contact .content .name {
  font-size: 14px;
}
#contact-list .list .contact .content .number,
#contact-list .list .contact .content .email {
  font-size: 13px;
  font-weight: bold;
}

/*# sourceMappingURL=popup.css.map */
